{% extends "_base.html" %}

{% block contenu %}

		
	<h1>{{ user.username }}<h1>
	<small><a href="{% url 'profil' user.username %}"> Profil</a></small>
	<br>
	<small><a href="/logout"> Deconnection</a></small><br>
	<small> Nombre de Tweet : {{ nombre_tweet}} </small> <br>
	<small> Nombre d'abonnement : {{ nombre_abonnement}}</small><br>
	<small> Nombre d'abonnée : {{ nombre_abonnee}}</small><br>
	<form method= "POST" name="Suivre" action="#">
		<input class = "btn btn-primary" type="submit" value="Follow"/>	
	</form>	
	<form class = "form-horizontal" method = "POST" name="Tweet" action="/tweet">
		{% csrf_token %}
		{{tweet_form.as_p}}
	<input class = "btn btn-success" type="submit" value="Tweetter"/>
	<input class = "btn btn-default" type="reset" value="Effacer"/>
	</form>
	{% if tweets %}
		<ul>
		{% for tweet in tweets %}
			<li>{ tweet.message }</li><br>
			<small>{ tweet.date }</small>
		{% endfor %}
		</ul>
	{% else %}
		<span> Pas de tweet </span>
	{% endif %}

{% endblock %}

